<div class="row">

	<div class="col-md-12 main">

		<table class="table table-bordered table-striped">
			<tr>
				<th class="nom t-first">Nom</th>
				<th class="start">Début</th>
				<th class="end">Fin</th>
				<th class="talks">Talks</th>
				<th class="actions t-last"></th>
			</tr>
			<tr x-ng-repeat="current in conferences">
				<td><strong>{{current.conference.name}}</strong></td>
				<td>{{current.conference.startDate | date:'dd MMMM yyyy'}}</td>
				<td>{{current.conference.endDate | date:'dd MMMM yyyy'}}</td>
				<td>
					<ul>
						<li x-ng-repeat="currentTalk in current.conference.talks">{{currentTalk.title}}	<small>({{currentTalk.speakerName}})</small></li>
						<li>...</li>
					</ul>
				</td>
				<td>
					<button type="button" class="btn btn-primary" x-ng-show="canSubscribe(current.conference)" ><i class="fa fa-ticket"></i> inscription</button>
				</td>
			</tr>

		</table>


	</div>

</div>



